# Visit https://shadowtraffic.io/pricing.html to start a trial 
# which will enable you to run this sample
LICENSE_ID=
LICENSE_EMAIL=
LICENSE_ORGANIZATION=
LICENSE_EDITION=
LICENSE_EXPIRATION=
LICENSE_SIGNATURE=
